.item {
	border-bottom: 1px solid #dcdcdc;
	padding: 24px 0;
	position: relative;

	.trash {
		outline: 0;
		border: 0;
		background-color: white;
		position: absolute;

		top: 20px;
		right: 20px;

		cursor: pointer;
	}

	.image {
		background-color: #f5f5f5;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 35px;
		height: 124px;
		width: 124px;

		img {
			width: 90px;
			object-fit: contain;
		}
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.price {
			font-size: 24px;
		}

		.buttons {
			display: flex;
			background-color: #f0f0f0;
			padding: 12px 20px;
			gap: 20px;
			border-radius: 62px;
			align-items: center;

			span {
				font-size: 14px;
			}

			button {
				outline: 0;
				border: 0;
				font-size: 16px;
				cursor: pointer;
			}
		}
	}
}
